/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/* ---------------------------
  common styles or uttilites
  --------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}


.button-primary {
    font-size: 20px;
    color: #ffffff;
    background: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
}


/* --------------------------
header menu and logo styles 
----------------------------*/
header {
    background: rgba(255, 144, 14, 0.1);
}

.header-section {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.header-nav {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 45px;
    color: #131313;
    text-align: center;
}

.menu-items ul li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.menu-items a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-transform: capitalize;
}

/* --------------------------
header brand new section styles 
----------------------------*/
.brand-new-section {
    width: 862px;
    margin: 0 auto;
    padding: 50px 0;
}

.brand-new-items {
    text-align: center;
    margin-bottom: 10px;
}

.brand-title {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 30px;
}

.brand-description {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

/* banner section styles */
.banner-section {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 35px;
}

.banner-section img {
    width: 1040px;
    height: auto;
}

/* Quick section style */
.quick-section {
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}

.quick-section-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.image-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.thumbnail img {
    width: 242px;
    height: 242px;
}

.quick-section-description {
    margin-left: 50px;
    margin-top: 90px;
}

.quick-title {
    font-weight: 500;
    font-size: 45px;
    color: #131313;
    padding-bottom: 24px;
}

.quick-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 24px;
}

/*  features section styles */

.features-section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.features-information{
    margin-right: 18px;
}

.features-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-header {
    border-left: 5px solid #FF900E;
    margin-bottom: 25px;
}
.header-border{
    margin-left: 16px;
}

.header-title {
    font-size: 45px;
    color: #131313;
    line-height: 45px;
}

.header-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feauter-text-box{
    margin-right: 40px;
}
.text-box{
    padding: 10px 0;
    margin: 16px 0;
    padding-left: 15px;
    box-shadow: 1px 1px 1px 1px rgb(241, 232, 232);
}
.text-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.text-discrip{
font-weight: 400;
font-size: 16px;
color: #727272;
}

.features-images img {
    width: 500px;
}
.features-button{
    background-color: #FF900E;
    padding: 45px 42px;
    display: inline-block;
    position: absolute;
    margin-top: -80px;
    margin-left: -50px;
    border-radius: 5px;
}
.button-title{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}
.button-subtitle{
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
}

/* Some Facts Section and icon-box styles */
.Some-Facts-section{
    margin: 100px 0;
}
.some-facts{
    width: 1000px;
    margin: 0 auto;
}
.fact-title{
    font-size: 30px;
    color: #131313;
}
.fact-subtitle{
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}
.icon-sections{
    margin: 50px 0;
}
.icon-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}
.icon-box{
    border: 1px solid #FF900E;
    padding: 35px ;
    border-radius: 5px;
    
}
.icon-img img{
    margin-left: 53px;
}
.icon-title{
    font-size: 30px;
    color: #424242;
    text-align: center;

}
.icon-subtitle{
    font-size: 16px;
    color: #727272;
    text-align: center;
}





/* footer copy write section styles */
.copy-write-section {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 80px;

}

.copy-write-text {
    width: 1040px;
    margin: 0 auto;
    background: #FFF4E7;
    padding: 20px 0;
}

.footer-text {
    font-weight: 300;
    font-size: 20px;
    color: #424242;
    text-align: center;
}

/* Mobile Responsive section */

@media only screen and (max-width: 576px) {

    .header-nav {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .menu-items ul li {
        text-align: center;
        display: block;
        margin: 7px 0;
    }

    .brand-new-section {
        width: 100%;
    }

    .brand-new-items {
        text-align: center;
        padding: 0 20px;
    }

    .banner-section {
        width: 100%;
        margin: 0 auto;

    }

    .copy-write-text {
        width: 100%;
        margin: 0 auto;
    }

    .copy-write-section {
        margin: 0 15px;
    }

    .quick-section {
        width: 100%;
        margin: 0 auto;
        padding-top: 70px;
    }

    .quick-section-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .image-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .thumbnail img {
        width: 100%;
        height: auto;
        margin: 5px 0;
    }
    .features-section {
        width: 100%;
        
    }
    
    .features-all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
    }
    .feauter-text-box{
        margin: 0 10px;
    }
    .features-images img {
        width: 100%;
    }
    .features-button{
        display: block;
        position: relative;
        margin-top: 0;
        margin-left: 0;
    }
    .some-facts{
        width: 100%;
    }
    .icon-container{
        display: grid;
        grid-template-columns: repeat(1, 250px);
        justify-content: center;
    }
    .fact-title{
        text-align: center;
    }
    .fact-subtitle{
        font-size: 16px;
        text-align: center;
    }
}